*, *::after, *::before {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-main:rgba(112, 101, 240, 1);
    --color-text:rgba(0, 9, 41, 1);
    --color-content: rgba(255, 255, 255, 0.4);
    --color-body: #F5F5F5;
    --color-text-btn: rgba(255, 255, 255, 1);
    --color-border: 2px solid rgba(224, 222, 247, 1);
    --color-search: #6C727F;
    --color-line: rgba(224, 222, 247, 1);
    --color-new-home: rgba(16, 10, 85, 1);
    --color-main-content: rgba(247, 247, 253, 1);
    --border-div: 1px solid rgba(240, 239, 251, 1);
}

html {
    font-size: 100%;
}

body {
    background-color: var(--color-body);
    font-family: "PlusJakartaSans", sans-serif;    /* overflow-x: hidden; */  
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.6rem;
    gap:4px;
}

.text-logo {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text);
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* backdrop-filter: blur(80px); */
    background: var(--color-content);
}


.line {
    width: 18px;
    height: 3px;
    background-color: var(--color-text);
    margin: 8px 0;
    margin-right: 24px;
}

/* header in desktop */

.header {
    display: none;
}
.login {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    margin-left: auto;
}

.btn-primary {
    width: 106px;
    height: 48px;
    background-color: var(--color-main);
    color: var(--color-text-btn);
    border: none;
    font-weight: 400;
    font-size: 1rem;
    /* margin-right: 70px; */
    padding: 12px 24px 12px 24px;
    border-radius: 8px 0px 0px 0px;
    text-wrap: nowrap;
}
.btn-secend {
    width: 92px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    height: 48px;
    border: var(--color-border);
    border-radius: 8px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 48px;    
}
.nav-list li>a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1rem;
}

.nav-list_children span {
    margin-right: 8px;
}


.main-image {
    display: none;
}


/* main-content in mobile */

.main-content {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 16px;
    padding-right: 16px;
}

.main-content__heading {
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-text);
    margin-top: 48px;
}

.main-content__text {
    font-size: 1.25rem;
    color: var(--color-text);
    line-height: 32px;
    text-align: center;
}

.box-searching {
    display: none ;
}

/* box-search */

.box{    
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 327px;
  }
  .model-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 60px; */

  }
  .box-model {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 48px 0 0 0;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom: 3px solid var(--color-content);
      /* width: 375px; */

  }

  
  .box-model button {
      background-color: var(--color-text-btn);
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 40px;
      font-size: 18px;
    }
  
  
  .box-selector {
      /* border-radius: 0px 0px 8px 8px;
      background-color: var(--color-text-btn);
      width: 66%;
      height: 80px;
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25rem; */
      border-radius: 0px 0px 8px 8px;
      background-color: var(--color-text-btn);
      width: 99%;
      padding: 14px 49px;
      display: flex;
      align-items: center;
  }

  .search-location {
    /* width: 783px;
    height: 104px;
    position: relative;
    top: 702px;
    left: 160px; */
    border-radius: 0px 8px 8px 8px;
    background: var(--color-body);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }


  .box-search-find-home {
    display: none;
  }
  
  .box-selector input {
      border: none;
      background: none;
      margin-top: 0;
      font-size: 16px;
      padding-left: 2px;
      color: var(--color-search);
  
  }
  
  .img-box-selector {
      background-color: var(--color-main);
      border-radius: 8px;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 0;
  }
  
  
  .boxlinks:hover, .boxlinks:focus {
      color: var(--color-main);
      border-bottom: 3px solid var(--color-main);
  }
  
  .box-model button:first-child {
      border-bottom: 3px solid var(--color-main);
      /* color: var(--color-main); */

  } 
  
  
  .statistics {
      display: flex;
      margin: 48px 0;    
  }
  
  .statistics-line {
      /* width: 3px; */
      height: 64px;
      border: 0.5px solid var(--color-line);
      margin-left: 24px;
      margin-right: 24px;
  }
  
  .statistics-detail span:first-child {
      font-size: 32px;
      font-weight: 700;
      color: var(--color-main);
      /* margin-right: 80px; */
      margin-right: 46px;
  }
  
  .statistics-rent {
      color: var(--color-search);
      font-size: 16px;
  } 
  
  .statistics-properties {
      margin-left: 27px;
  }
  
  .main {
      background-color: var(--color-text-btn);
      padding: 20px;
      
  }
  
  
  .main-box {
      border: 1.5px solid var(--color-line);
      background-color: var(--color-main-content);
      box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.2);
      /* margin: 48px 24px; */
      border-radius: 8px;
      margin-bottom: 48px;
  }
  
  .main-text  {
      margin: 32px 19px 48px 32px;
  
  }
  .main-text h2{
      font-size: 32px;
      font-weight: 700;
      color: var(--color-new-home);
      margin-bottom: 1rem;
      margin-top: 2rem;
  }
  
  .main-text p{
      font-size: 16px;
      font-weight: 400;
      color: var(--color-search);
      margin-bottom: 3rem;
  }
  
  
  .icon {
      width: 56px;
      height: 56px;
      margin-left: 2rem;
  }
  .box-img {
      overflow-x: hidden;
      display: flex;
    
    }
  
  
  .box-img-home {
      height: 400px;
  }
  
  
  .main-detail {
      display: flex;
      align-items: baseline; 
      display: flex;
      flex-direction: column;
      /* gap: 32px; */
      margin-left: 38px; 
  }
  
  .main-box-detail {
    display: flex;
    flex-direction: column;
  }
  
  .rate-number {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
      color: var(--color-text);
  }
  
  .rate-number {
    margin-bottom: 4px;
    margin-top: 16px;
  }
  .rate-text {
      font-size: 0.6rem;
      font-weight: 400;
      text-align: center;
      line-height: 1.01rem;
      color: var(--color-search);
  }


  

  
/* location part */

.location-home {
    /* height: 850px; */
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 200px 0px #E8F9F733;
    /* margin-bottom: 48px;   */
    /* ! for add space */
}

.location-home__text-wrapper {
    display: flex;
   flex-direction: column;
   align-items: center;
  
}


.location-home__text {
    padding: 48px 24px;
    color: var(--color-text);
}

.location-home__text-heading {
    font-size: 2rem;
    line-height: 40px;
    font-weight: 700;
    margin-top: 48px;
    text-align: center;
}

.location-home__text-p {
    line-height: 25.6px;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
}

.location-home-sections {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    border-radius: 8px;
    
}


.location-home-section {
    border-radius: 8px;
    border: var(--border-div);
    overflow: hidden;
    width: 300px;
    height: 424px;
    background-color: var(--color-text-btn);
    flex-shrink: 0;
    position: relative;
}

.location-home-section-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
    height: 199px;
    object-fit: cover; 
}


.popular-img {
    position: absolute;
    top: 11rem;
}

.price {
    margin: 16px  63px  4px 24px;
    position: relative;
    /* 8 top shod */
}

.month-price {
    color: var(--color-text)
}

.img-heart-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 12rem;
    bottom: 4rem;
    border-radius: 50%;
    border: 1.5px solid rgba(232, 230, 249, 1);
}

.img-heart {
    width: 24px;
    height: 24px;
  
}

.price span:first-child {
    font-size: 1.5rem;
    color: var(--color-main);
    font-weight: 800;
}

.price-title {
    font-size: 1.5rem;
    text-wrap: nowrap;
    line-height: 36px;
    font-weight: 700;
    color: var(--color-text);
}

.price-text {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    text-wrap: nowrap;


}

.line-price {
    width: 252px;
    height: 0px;
    top: 356px;
    left: 32px;
    border: var(--border-div);
    margin: 16px 24px;
}
.icons-detail-home {
    margin: 16px 96px 32px 24px;
    display: flex;
    gap: 16px;
}

.icon-detail-home {
    width: 180px;
    display: flex;
    gap: 8px;
    height: 20px;
    
}
 .icon-detail-home span {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 70%;
    text-wrap: nowrap;
    color: var(--color-text);
 }

.icon-detail-home img {
    width: 20px;
    height: 20px;
}

.btn-browse {
    font-size: 1rem;
    align-items: center;
    line-height: 24px;
    background-color: var(--color-main);
    margin: 48px 24px;
    border: none;
    color: var(--color-text-btn);
    cursor: pointer;
    border-radius: 8px;
    padding: 16px 32px;
    text-wrap: nowrap;
    margin: 48px 5px;
    /* top: 716px;
    left: 24px;
    gap: 10px; */
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.testimonials h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    color: rgba(0, 9, 41, 1);
}
.testimonials-text {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 9, 41, 1);
    margin: 16px 24px 48px 24px;
    text-align: center;
}
.testimonials-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.testimonials-content_text {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 400;
    text-align: center;    
    color:#000929;
    
}


.author {
    color: rgba(0, 9, 41, 1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 48px;
}


.author span{
    color: #6C727F;
}


.testimonials-contant {
    display: flex;
    align-items: center;
    justify-content: center;
}


.email-spam {
    background-color: rgba(0, 9, 41, 1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.email-spam__text-h4{
    color: var(--color-main);
    margin-bottom: 8px;
    margin-top: 48px;
    font-weight: 700;
    font-size: 1.5rem;
}


.email-spam__text-h3{
    color: var(--color-text-btn);
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 700;

    
}

.email-spam__text-p {
    color: rgba(211, 213, 218, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
    margin-left: 24px;
    text-align: center;
    margin-right: 24px;
}


.communication-with-landlord-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 24px;
    gap: 10px;
    outline: none;
    border: none;

}


.communication-email {
    width: 327px;
    /* width: 100%; */
    height: 56px;
    border-radius: 8px;
    font-family: "PlusJakartaSans", sans-serif;   
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26.1px;
}



.send-communication-email {
    width: 327px;
    height: 48px;
    padding: 12px 40px 12px 40px;
    border-radius: 8px;
    gap: 10px;
    background: rgba(112, 101, 240, 1);
    color: var(--color-text-btn);
    box-shadow: 0px 0px 30px 0px rgba(117, 112, 255, 0.08);
    border: none;
}

.communication-email::placeholder {
    padding-left: 10px;
    font-size: 1.125rem;
}

.statistics-text {
    color: rgba(211, 213, 218, 1);
    /* font-size: 0.875rem; */
    margin-bottom: 48px;
    font-size: 14px;
    text-align: center;
    
}

.statistics-text span {
    font-weight: 700;
    /* 400 bood ama result is false */
    line-height: 19.6px;
}



/* !footer */




.footer-items {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 16px;
    margin-top: 48px;
}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.footer-item-title {
    font-weight: 700;
    font-size: 0.875rem;
}
.footer-item-list {
    text-wrap: nowrap;
    opacity: 0.7px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-text);
}


/* 
.footer-item-secend {
    margin-right: 24px;
    margin-left: 16px;
} */

.flex-footer {
    display: flex;
    gap: 32px;
    flex-direction: row;
    margin-left: 24px;
}



hr {
    width: 100%;
    border: 1px solid rgba(232, 230, 249, 1);
    margin-top: 48px;
    margin-bottom: 32px;
}

.social-and-copyright {
    text-align: center;
    color: rgba(0, 9, 41, 50%); 
}
.img-socail-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.img-socail {
    color: rgba(0, 9, 41, 1); 
    opacity: 20%;
    margin-top: 24px;
}
.copyright {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25.6px;

}

.box-img-home-desktop {
    display: none;
}

.main-img-home {
    display: none;
}

.logo-footer {
    margin: 52px 200px 52px 24px;
}

.flex-main-footer {
    display: none;
}


@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
    }

    .hamburger-line {
        display: none;
    }
    .header {
       display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
     align-items: center;
     gap: 182px;
     flex-wrap: nowrap;
     margin-left: 240px;
     backdrop-filter: blur(80px);
     flex-shrink: 0;
   }
   .header-mobile {
    margin-left: -25px;
    justify-content: left;
   }
   .main-box-header {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
}
   .main-image {
    display: block;
    width: 704px;
    height: 850px;
   }
   .box {
    align-items: flex-start;
   }
   .model-box {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
   }   
   .search-location {
    display: none;
   } 

   .box-search-find-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 90%;
    height: 136px;
    text-wrap: nowrap;
    position: absolute;
    left: 5%;
    right: 5%;
    /* max-width: 1200px; */
    
}
.box-selector {
    position: relative;
    border-radius: 0 8px 8px 0;
    padding: 34px;
    background: #F5F5F5;
    width: 783px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
   .box-search-find-home div {
    display: flex;
    align-items: center;
  }

   .location, .when-time {
    display: flex;
    flex-direction: column;
    gap: 4px;
   }

   .location p, .when-time p{
    font-size: 1rem;
    font-weight: 400;
    color: #001619B2;
    font-family: "PlusJakartaSans", sans-serif;    /* overflow-x: hidden; */

   }

   .location span, .when-time span{
    font-family: Plus Jakarta Sans;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26.1px;
    text-align: left;
    color: #000929;
    font-family: "PlusJakartaSans", sans-serif;    /* overflow-x: hidden; */

   }
   span.select-date {
    display: flex;
    gap: 16px;
    align-items: center;
    }
    .select-date img{
        width: 16px;
        height: 16px;
    }

      .main-content__heading {
          font-size: 4rem;
          text-align: left;
          margin-top: 72px;
          width: 517px;
      }
      .main-box-detail {
        flex-direction: row;
      }
    .main-text h2 {
        font-size: 2.5rem;
        font-family: "PlusJakartaSans", sans-serif;    /* overflow-x: hidden; */  

        line-height: 56px;
        width: 399px;
    }
    .main-text p{
        width: 276px;
    }
    .main-detail-list {
        display: flex;
        flex-direction: column;
    }
    
    .main {
        border: 1.5px solid #E0DEF7;
        margin-right: 160px;
        width: 90%;
    }
    .main-box {
        display: flex;     
        gap: 15px;
        margin: 80px 160px;
        
    }
      .statistics .statistics-detail{
        display: flex;
        flex-direction: column;
      }

    .testimonials h3 {
        font-size: 2.5rem;
        font-family: "PlusJakartaSans", sans-serif;

    }
    .social-and-copyright{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 200px;
        margin-bottom: 32px;
    }
    .testimonials-text {
        width: 406px;
        height: 52px;
    }

    .testimonials-content {
        justify-content: center;
        align-items: center;
    }
    .testimonials-content_text{
        width: 736px;
        color: #000929;
        ;
    }

    .email-spam__text-h3 {
        font-size: 2.5rem;
        font-family: "PlusJakartaSans", sans-serif;    /* overflow-x: hidden; */  

    }
    .communication-with-landlord-section {
        flex-direction: row;
        justify-content: space-between;
        border: none;
        outline: none;
        position: relative;
    }
    .communication-email {
        box-shadow: 0px 30px 30px 0px #5A5A5A1A;
        width: 543px;
        height: 80px;
    }
    .send-communication-email { 
        width: 137px;
        height: 48px;
        position: absolute;
        top: 18px;
        right: 20px;
        border: none;
        outline: none;
  }
 
  .box-img-home {
    display: none;
  }
  .box-img-home-desktop {
    display: block;
  }
  .location-home {
      margin-left: 160px; 
  }

  .location-home__text-wrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5rem;
    align-items: end;

  }
  .location-home-sections {
    flex-wrap: wrap;

  }

  /* .location-home-section {
    margin-bottom: 80px;
} */

.main-content__text {
    text-align: left;  
    margin-top: 32px;   
       
   }
   /* .main-box-header {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 160px;
} */
    /* !new design */


    .main-content {
    display: flex;
    gap: 32px;
    flex-direction: column;
    }


    .box-searching {
    margin-bottom: 56px;
    }
    .location-home {
    box-shadow: 0px 4px 200px 0px #E8F9F733;
    }


    .main-img-home {
    display: block;
    background-image: url(./assest/img/Frame\ 14074.png);
    background-size: 704px;
    width: 100%;
    position: relative;
    }
    .main-images {
    background-color: #fff;
    width: 27%;
    /* width: 23.7vw; */
    width: 324px;
    border-radius: 8px;
    border: 1.5px solid #F0EFFB;
    position: absolute;
    left: 9rem;
    top: 2rem;
    }

    .main-mini-img {
    width: 16vw;
    position: absolute;
    right: 5px;
    }
    .product-card {
    width: 22%;
    background-color: #fff;
    border: 1.5px solid #7065F0

    }

/* border: 1.5px solid #7065F0 */



  
  .flex-footer-web {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .flex-main-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
}

    .flex-footer {
    display: none;
    }

}

@media screen and (min-width:769px) and (max-width: 1100px) {
        .main-image {
            display: block;
            width: 40%;
        }
        .main-img-home {
            display: none;
        }
        .main {
            display: contents;
        }
        .location-home {
            margin-left: 18px;
        }
        img.testimonials-contant__img {
            margin-bottom: 10px;
            margin-top: 26px;
        }
        .testimonials-content_text {
            font-size: 1rem;
        }
}

@media (max-width: 1024px) {
    .container {
        width: 100%; 
        margin: 0 auto; 
        /* padding: 0 20px;  */
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1440px; 
        margin: 0 auto;
        padding: 0 20px; 
    }

    html, body {
        overflow-x: hidden;
    }

}


